<h1>Badge Setter</h1>



<% @users.each do |user| %>
	<p><%= user.email %></p>
	<ul>
	<% user.badges.each do |badge| %>

		<li>
			<%= badge.name %>
		</li>

	<% end %>
	</ul>
<% end %>

<%= link_to 'New Badge Set', new_badgination_path %><br>
<%= link_to "Add a new badge", :badges %>

